
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <style>
        .Ab {

            font-size: 80px;
            /*position:absolute;
            top: 50%;
            left: 50%;
            transform : translate(-50%, -50%);*/
            text-align:center;
        }
        body{
            background-image: url(https://images.unsplash.com/photo-1520437358207-323b43b50729?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-size: cover;
            height:850px;
          /* position: relative;*/
        }
        .Description{
            font-size: 30px;
            color: white;
        }

   </style>
 </head>
 <body>
    <p >
        <b class=" Ab">About Us</b>
        <div>
            <p class ="Description">
                <br >
                Welcome to our website! We are a team of passionate individuals dedicated to providing high-quality products and services to our customers.
                Our mission is to [insert your mission statement here].
                Our company was founded in [insert year], and since then, we have grown to become a leading provider of [insert what you provide]. We are proud to have served [insert number] customers and counting,
                and we are committed to providing exceptional customer service every step of the way.
                At [company name], we believe in [insert your values here]. We strive to uphold these values in everything we do, from the products we offer to the way we treat our customers and employees.
                Our team is made up of [insert number] talented individuals with diverse backgrounds and expertise. We work together to bring you the best possible products and services, and we are always striving to improve and innovate.
                Thank you for choosing [company name]. We look forward to serving you!
                </br>

            </p>
            

        </div>
        
        
    </p>
   
</body>
</html>

